* {
  margin: 0;
  padding: 0;
}

body {
  color: #212529;
  background-color: #fffcee;
  line-height: 1;
}

a {
  color: #004031;
  text-decoration: underline #004031;
}

p {
  line-height: 2;
}

input {
  background-color: transparent;
  border: 0;
}

.introduce-section {
  padding: 0 20px;
  margin: 80px 0;
}

.introduce-section > h1 {
  margin-bottom: 40px;
}

.introduce-section:first-of-type {
  position: relative;
}

.profile-image {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
}

.info-list {
  margin-bottom: 30px;
}

.info {
  display: flex;
  margin: 10px 0;
}

.movie-table {
  width: 100%;
  border: 1px solid #333333;
  border-collapse: collapse;
}

.movie-table th {
  padding: 10px;
  border: 1px solid #333333;
}

.movie-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #333333;
}

.movie-poster img {
  width: 80%;
  max-width: 120px;
}

.movie-desc {
  text-align: left !important;
}

.visitor-name-input-container > input {
  width: 200px;
  padding: 4px 10px;
  margin-left: 16px;
  border: 1px solid #333333;
}

.movie-check-list {
  display: flex;
  margin-top: 30px;
  list-style: none;
}

.movie-check-list > li + li {
  margin-left: 16px;
}

.movie-check-list > li > label {
  margin: 0 4px;
}

.visitor-button-container {
  margin-top: 30px;
}

.visitor-button-container > button {
  width: 100px;
  padding: 10px;
  color: #ececec;
  background-color: #004031;
  border: none;
}

.visitor-button-container > button + button {
  margin-left: 16px;
}
