.movie-table {
  width: 100%;
  border: 1px solid #333333;
  border-collapse: collapse;
}

.movie-table th {
  padding: 10px;
  border: 1px solid #333333;
}

.movie-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #333333;
}

.movie-poster img {
  width: 80%;
  max-width: 120px;
}

.movie-desc {
  text-align: left !important;
}
